celery==4.3.0
requests==1.2.3
PyYAML==3.10
psutil==2.1.1

# Working off of amqp master for now, needs to be set to an explicit version after release.
# "Drain events" problem is resolved here..
#
# Last checked August 12, 2019
https://github.com/celery/py-amqp/archive/master.zip