# For ACI-container management (cloud-hunky)
AZURE_AUTH_LOCATION=/root/.azure/azure_creds

# For celery.
WORKER=celerymain
WORKER_CONCURRENCY=1

# For local/ACI launch
ACI_PRED=True
ACI_SCORE=True

# Logging config
LOG_CFG=/log/logging.yaml

# This is the URL you get from the Worker Queues Management page on Codalab
MAIN_BROKER_URL=<main virtual host>
BROKER_URL=<additional virtual host> (when codalab creates a new queue - it creates a new virtual host)

# Specify when use alternative queues
MAIN_BROKER_LOGIN=guest
MAIN_BROKER_PASS=guest

# The temporary directory for submissions to do their work in
# Don't forget specify this path in docker mount
SUBMISSION_TEMP_DIR=/tmp/codalab

# Don't create this env
#BROKER_USE_SSL=True

# Docker Registry creds (Optional). For ACI's start time reduction
IMAGE_REGISTRY_SERVER=''
IMAGE_REGISTRY_USERNAME=''
IMAGE_REGISTRY_PWD=''